body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #40E0D0;
    color: #333;
}

header {
    background-color: #008080;
    color: white;
    padding: 20px;
}

.info {
    padding: 20px;
}

img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.animacion {
    margin-top: 50px;
}

.mojarra {
    width: 100px;
    height: 50px;
    background-image: url(img/mojarras.jpeg)
    background-size: cover;
    position: relative;
    animation: nadar 4s infinite alternate;
}

@keyframes nadar {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(300px);
    }
}
